APP_NAME=inkfig-user-system
ENVIRONMENT=local
API_PREFIX=/api/v1
CORS_ORIGINS=["http://localhost:5173"]
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=inkfig_users
SUPABASE_URL=
SUPABASE_SECRET_KEY=
DATABASE_URL=
